/.husky
/.vscode/**
/.vscode-test/**
/dist
/src
/.eslint*
/.git*
/.prettierrc.json
/.swcrc
/esbuild.base.ts
/esbuild.compile.ts
/esbuild.watch.ts
/jest.config.ts
/tsconfig.json
/vsc-extension-quickstart.md